@font-face {
    font-family: 'disco-chrome';
    src: url('DiscoDeckChrome.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'avenir';
    src: url('Avenir.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metronauts';
    src: url('MetronautsGradient.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'avenir', sans-serif;
    font-weight: normal; /* Use the specific weight you want for the input fields */
}

/* Size for brand */
nav .navbar-brand
{
    font-family: 'disco-chrome', 'avenir', sans-serif;
    font-size: xx-large;
}

/* Links in the navbar */
nav .navbar-nav a {
    font-family: 'avenir', sans-serif;
    font-weight: 900; /* 'black' is usually equivalent to font-weight: 900 */
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Form in the login page */
form {
    font-family: 'avenir', sans-serif;
    font-weight: normal; /* Use the specific weight you want for the form, e.g., 'normal', 'bold', etc. */
}

/* Input fields in the form */
form input {
    font-family: 'avenir', sans-serif;
    font-weight: normal; /* Use the specific weight you want for the input fields */
}

/* Button in the form */
form button {
    font-family: 'avenir', sans-serif;
    font-weight: 900!important; /* Use the specific weight you want for the button */
}

a.body-link {
    font-family: 'avenir', sans-serif;
    font-weight: 900; /* 'black' is usually equivalent to font-weight: 900 */
    text-decoration: none;
}

.custom-button {
    font-family: 'metronauts', sans-serif;
    font-weight: normal!important;
    width: 70vw;      /* 50% of the viewport width */
    height: 20vh;     /* 25% of the viewport height */
    font-size: 5vw;  /* Adjust the font size as needed */
}


.emoji-link {
    text-decoration: none;  /* Remove underline */
    font-size: 6em;         /* Adjust the size as needed */
    margin: 10px;           /* Add spacing between emojis */
}

.emoji-link-sick {
    font-family: 'avenir', sans-serif;
    color: #888;
    text-decoration: none;  /* Remove underline */
    font-size: 4em;
    font-weight: 100!important;
    margin: 20px;           /* Add spacing between emojis */
}

.emoji-header {
    font-size: 3em;         /* Adjust the size as needed */
    margin: 0px;           /* Add spacing between emojis */
}

.emoji-above-navbar {
    text-decoration: none;
    font-size: 3em;        /* Adjust the size as needed */
    margin: 0;             /* Remove default margin */
    position: fixed;    /* Position absolute to position it relative to the nearest positioned ancestor (in this case, the body) */
    bottom: 4.5rem;             /* Adjust the top value to position it just above the navbar */
    left: 50%;             /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally using transform */
}

.words-above-navbar {
    font-size: .75em;        /* Adjust the size as needed */
    margin: 0;             /* Remove default margin */
    position: fixed;    /* Position absolute to position it relative to the nearest positioned ancestor (in this case, the body) */
    bottom: 8.5rem;             /* Adjust the top value to position it just above the navbar */
    left: 50%;             /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally using transform */
}


.emoji-label {
    display: block;
    text-align: center;
    font-size: small; /* Adjust the font size as needed */
    position: absolute;
    bottom: -1.5em; /* Adjust the distance between the emoji and the label */
    width: 100%;
}




.container {
    display: flex;
}

.story-container,
.image-container {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
}

.story-container {
    border-right: 1px solid #eee;  /* Add a border between story and image */
}

.story-container p {
    font-size: .85em;  /* Adjust the font size for paragraphs in the story-container */
}

h2 {
    font-family: 'metronauts', 'avenir', sans-serif;
    margin-bottom: 10px;
    color: #007BFF; /* Bootstrap's primary blue */
}

img {
    max-width: 100%;  /* Make sure the image doesn't exceed its container */
    height: auto;
    display: block;
    margin: 0 auto;  /* Center the image horizontally */
}


/* styles.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 50%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-content {
    text-align: center;
}

.card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.card-content {
    position: relative;
}

.content-space {
    height: 1.5em; /* Adjust the height as needed */
}

.card-content p.content {
    color: black; /* Set the font color to black for the content paragraphs inside card-content */
    font-size: smaller;
}

p.footer {
    position: absolute;
    bottom: 3%;
    left: 0; /* Align to the left edge of the card */
    right: 0; /* Align to the right edge of the card */
    margin: 0!important; /* Remove any default margin */
}

.loading-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-container img {
    max-height: 40vh; /* Adjust the percentage as needed */
    max-width: 200%;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-message {
    margin-top: 10px;
    font-size: 16px;
}
